@charset "utf-8";
/* CSS Document */
body {
    color: #A6ADB4;
    font-family: Helvetica, sans-serif;
    background-color: #F6F8F9;
}
a, a:hover {
    text-decoration: none;
    color: #A6ADB4;
}
.color--black{ 
    color: #202124;
}
.color--grey {
    color: #CBD0D3;
}

.color--green {
    color: #1DBD8E
}

.color--red {
    color: #FA6980;
}
.btn{
    font-size: 0.6875rem;
    font-weight: bold;
    line-height: 1.25rem;
    padding: 0.5rem 1.75rem ;
    border-width: 2px;
}
.btn--primary, .btn--default:hover{
    background-color: #FA6980;
    border-color: #FA6980;
}
.btn--default, .btn--primary:hover{
    background-color: #F6F8F9;
    border: 2px solid #FA6980;
    color: #FA6980;
}
.open-sans{
    font-family: 'Open Sans', sans-serif;
}

/* Landing Page */
.navbar {
    font-size: 0.6875rem;
    font-weight: bold;
}
.navbar__logo {
    font-size: 0.8125rem;
    font-weight: bold;
}
.navbar__menu--icon {
    background-image: url(../images/menu-icon.png);
    width: 16px;
    height: 14px;
}
.navbar__mennu--toggler {
    padding: 0;
    border: none;
}
.nav-link {
    color: #CED3D6
}
.nav-link:hover {
    color: #A6ADB4;
}
.nav-link--active {
    color: #A6ADB4;
}
.profile--pic {
    background: url(../images/profile-pic.png) left top no-repeat;
    width: 1rem;
    height: 1rem;
    background-size: 100% auto;
    vertical-align: middle;
}
.header-banner__jumbotron {
    background: url(../images/banner-1.jpg) left top no-repeat;
    background-size: 100% auto;
    min-height: 24.25rem;
}
.jumbotron__block, .news__block { 
    width: 345px;
    margin: 0 auto;
}
.title__block{
    margin-bottom: 2.3rem;
    padding-bottom: 2.3rem;
    border-bottom: 2px solid transparent;
}
.jumbotron__block--title{ 
    border-color: #fff;  
}
.jumbotron__block--text{
    line-height: 1.625rem;
    max-height: 5rem;
}
.header-banner__news{
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;

}
.news__title{
    border-color: #EBEDED;  
}
.news__title--paging .page-link:hover{
    color: #FA6980;
}
.article__item--timeline time{
    font-size: 0.8125rem;
    line-height: 1rem;
}
.article__item--text{
    max-height: 2.8125rem ;
}
.content__block{
    padding-top: 2.3rem;
}
.trending__item .article__item--text {
    font-size: 0.8125rem;
}
.line--grey{
    border-bottom: 2px solid #EBEDED;
}
.happeningnow__item--photo{
    height: 11.25rem;
}
.article__item--link{
    text-decoration: underline;
}
.happening__item{
    margin-bottom: 2.5rem;
}
.happeningnow__item--bgimg{
    left: 0;
    top: 0;
    z-index: -1;
}
.happeningnow__item--content{
    padding: 2rem 1.5rem;
    height: 18.75rem;
}
.happeningnow__item--content .article__item--text {
    max-height: 4.5rem;
}
.page-footer{
    background-color: #A6ADB4;
    padding: 3.75rem 0;
}
.footer__menu--link {
    font-size: 0.8125rem;
    padding: 0 1.5rem 0.375rem 0;
}
.footer__menu--link:hover, .footer__menu--link:active, .email__block--textbox::placeholder {
    color: #CBD0D3;
}
.email__block--smtext{
    font-size: 0.6875rem;
}
.email__block--textbox{
    font-size: 0.8125rem;
    border-radius: 0.25rem;
}
.email__block--icon {
    top: 0.25rem;
    right: 0.25rem;
}

